<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
     <link href="/style/style.css" rel="stylesheet" type="text/css">
    <title>Weather Test</title>
</head>
<body>
    <h1>Weather Here</h1>



<div class="weather">
    <h3 class="weather-heading">Mesa</h3>
    <div class="weath-today">  
        <div class="today-left">
            <img class="current-conditions" src="http://openweathermap.org/img/w/<%= weather.current.weather[0].icon%>.png">
    
          <p class="conditions-text"><%= weather.current.weather[0].main %></p> 
        </div>  
        <div class="today-center">
            <%let currentTemp = Math.round(weather.current.temp)%>
            <p class="currTemp"><%=currentTemp%>&#176</p>
        </div> 
        <div class="today-right">
            <p class="text-right">Sunrise: <%=riseHours%>:<%=riseMinutes%>am </p>
            <p class="text-right">Sunset:  <%=setHours%>:<%=setMinutes%>pm</p>
            <p class="text-right">Humidity: <%=weather.current.humidity%>% </p>

            
        </div>
    
    </div>

    <ul>
        <%  for (let i=1; i<8; i++) { %>

            <%let unixTime = weather.daily[i].dt
            let currentDate = new Date(unixTime * 1000);
            let dayOfWeek = currentDate.toLocaleDateString('en-US', {weekday: 'long'});
            let newDate = currentDate.toDateString().slice(0,10); %>

           <li> <div class="daily-row">   <%= dayOfWeek%> 
            <img class="weather-icon" src="http://openweathermap.org/img/w/<%= weather.daily[i].weather[0].icon%>.png" alt="">
            <%=Math.round(weather.daily[i].temp.max)%> 
            <%=Math.round(weather.daily[i].temp.min)%>
        </div> 
        </li>
        <% } %> 

    </ul>


    <%console.log(weather.current)%>
    

    <% console.dir(weather.daily[0].weather[0].icon) %> 

    <% console.log(`DayMode is set to: ${ dayMode }`) %> 

   
</div>

  <script type="text/javascript">
      let weatherBg = document.body.querySelector('.weather'); 
    
      weatherBg.style.backgroundImage = "url('<%=bgImage%>')";

       console.log(weatherBg)
    
   </script>
      
</body>
</html>
